@using MusicSchool.WebUI.Views.Enums;
@model MusicSchool.WebUI.Models.TimesheetViewModel;
@{
    Layout = "~/Views/Shared/_TimesheetLayout.cshtml";
    ViewData["Title"] = "Расписание";
    IEnumerable<SelectListItem> week = Html.GetEnumSelectList<WeekDays>();
}

<link rel="stylesheet" href="~/css/timesheet.css" />

<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить занятие</h1>
                <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                @{
                    await Html.RenderPartialAsync("AddEventWindow", Model.AddEventWindowViewModel);
                }
            </div>
        </div>
    </div>
</div>

<div class="timesheet">
    <div class="timesheet-header">
        <div class="timesheet-add-event-btn">
            <span></span>
            <a id="openAddEventModal" class="timesheet-add-event btn-light rounded-circle"
               data-bs-toggle="modal"
               data-bs-target="#addEventModal">
               <div>+</div>
            </a>
        </div>
        <div class="timesheet-date">
            @{
                DateTime today = DateTime.Today;
                DateTime numOfDay = Model.GetMonday(today);
            }
            @foreach (var day in week)
            {
                <div class="text-center">
                    @if (numOfDay > today)
                    {
                        <span></span>
                        <div>
                            <div class="day-of-week text-secondary">@day.Text</div>
                            <div class="text-dark" id="num">@numOfDay.Day</div>
                        </div>
                    }
                    else if (numOfDay == today)
                    {
                        <span></span>
                        <div>
                            <div class="day-of-week text-primary">@day.Text</div>
                            <div class="today bg-primary shadow" id="num">@numOfDay.Day</div>
                        </div>
                    }
                    else
                    {
                        <span></span>
                        <div>
                            <div class="day-of-week text-secondary">@day.Text</div>
                            <div class="text-secondary" id="num">@numOfDay.Day</div>
                        </div>
                    }
                </div>
                numOfDay = numOfDay.AddDays(1);
            }
        </div>
    </div>
    <div class="timesheet-body">
        <div>
            <div class="timesheet-hours-abs">
                <div class="timesheet-time-column">
                    <div>
                        <div class="timesheet-time">
                            <div class="timesheet-hour text-end"></div>
                            @for (int i = 1; i < 24; i++)
                            {
                                <div class="timesheet-hour text-end">
                                    <span class="time-hour">@TimeOnly.MinValue.AddHours(i)</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="timesheet-event-date-column">
            <div class="timesheet-event-date">
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>

    var titleInput = document.getElementById("titleInput");
    var titleValidator = document.getElementById("title-validator");
    var targetModal = document.getElementById("addEventModal");
    var closeModal = document.getElementById("closeModal");
    var openAddEventButton = document.getElementById("openAddEventModal");

    targetModal.addEventListener("shown.bs.modal", function () {
        titleInput.focus();
    });

    var openHandler = function (event) {
        if (event.keyCode === 13 || event.keyCode === 107) {
            openAddEventButton.click();
            document.removeEventListener("keydown", openHandler);
            document.addEventListener("keydown", closeHandler);
        }
    }

    var closeHandler = function (event) {
        if (event.keyCode === 27) {
            closeModal.click();
            document.addEventListener("keydown", openHandler);
        }
    }

    document.addEventListener("keydown", openHandler);

</script>