@using MusicSchool.WebUI.Views.Enums;
@using MusicSchool.WebUI.Models;
@model AddEventWindowViewModel;
@{
    Layout = "~/Views/Shared/_TimesheetLayout.cshtml";
    ViewData["Title"] = "Расписание";
    IEnumerable<SelectListItem> week = Html.GetEnumSelectList<WeekDays>();
}

<link rel="stylesheet" href="~/css/timesheet.css" />

<div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить занятие</h1>
                <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                <form asp-controller="Timesheet" asp-action="AddEvent">
                    <div class="ms-3">
                        <span asp-validation-for="Title" class="text-danger" id="title-validator"></span>
                    </div>
                    <div class="modal-body d-flex justify-content-between align-items-center">
                        <label class="form-label w-auto h-100 mb-0 me-2 align-baseline">Название</label>
                        <input id="titleInput"
                               asp-for="Title"
                               class="form-control w-100 h-auto m-0 align-baseline"
                               placeholder="Введите название...">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="timesheet">
    <div class="timesheet-header">
        <div class="timesheet-add-event-btn">
            <span></span>
            <a id="openAddEventModal" class="timesheet-add-event btn-light rounded-circle"
               data-bs-toggle="modal"
               data-bs-target="#addEventModal">
                <div>+</div>
            </a>
        </div>
        <div class="timesheet-date">
            @{
                int today = (int)DateTime.Today.Day;
                int currentDayOfWeek = ((int)DateTime.Today.DayOfWeek);
                currentDayOfWeek = currentDayOfWeek == 0 ? 7 : currentDayOfWeek;
                int numOfDay = today - currentDayOfWeek + 1;
                Html.ViewContext.RouteData.ToString();
            }
            @foreach (var day in week)
            {
                <div class="text-center">
                    @if (numOfDay > today)
                    {
                        <span></span>
                        <div>
                            <div class="day-of-week text-secondary">@day.Text</div>
                            <div class="text-dark" id="num">@numOfDay</div>
                        </div>
                    }
                    else if (numOfDay == today)
                    {
                        <span></span>
                        <div>
                            <div class="day-of-week text-primary">@day.Text</div>
                            <div class="today bg-primary shadow" id="num">@numOfDay</div>
                        </div>
                    }
                    else
                    {
                        <span></span>
                        <div>
                            <div class="day-of-week text-secondary">@day.Text</div>
                            <div class="text-secondary" id="num">@numOfDay</div>
                        </div>
                    }
                </div>
                numOfDay++;
            }
        </div>
    </div>
    <div class="timesheet-body">
        <div>
            <div class="timesheet-hours-abs">
                <div class="timesheet-time-column">
                    <div>
                        <div class="timesheet-time">
                            <div class="timesheet-hour text-end"></div>
                            @for (int i = 1; i < 24; i++)
                            {
                                <div class="timesheet-hour text-end">
                                    <span class="time-hour">@TimeOnly.MinValue.AddHours(i)</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="timesheet-event-date-column">
            <div class="timesheet-event-date">
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
                <div>
                    @for (int i = 0; i < 24; i++)
                    {
                        <span></span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>

    var titleInput = document.getElementById("titleInput");
    var titleValidator = document.getElementById("title-validator");
    var targetModal = document.getElementById("addEventModal");
    var closeModal = document.getElementById("closeModal");
    var openAddEventButton = document.getElementById("openAddEventModal");

    targetModal.addEventListener("shown.bs.modal", function () {
        titleInput.focus();
    });

    var openHandler = function (event) {
        if (event.keyCode === 13 || event.keyCode === 107) {
            openAddEventButton.click();
            document.removeEventListener("keydown", openHandler);
            document.addEventListener("keydown", closeHandler);
        }
    }

    var closeHandler = function (event) {
        if (event.keyCode === 27) {
            closeModal.click();
            document.addEventListener("keydown", openHandler);
        }
    }

    document.addEventListener("keydown", openHandler);

</script>